[profile dev]
region=ap-southeast-1
output=json
credential_source = Ec2InstanceMetadata
role_arn=arn:aws:iam::225301848476:role/OrganizationAccountAccessRoleTerraform
#role_arn=arn:aws:iam::225301848476:role/EKSNodeRole-eks-dev

[profile uat]
region=ap-southeast-1
output=json
credential_source = Ec2InstanceMetadata
role_arn=arn:aws:iam::921717751722:role/OrganizationAccountAccessRoleTerraform

[profile prod]
region=ap-southeast-1
output=json
credential_source = Ec2InstanceMetadata
role_arn=arn:aws:iam::646191256146:role/OrganizationAccountAccessRoleTerraform
